VIKUNJA_SERVICE_SECRET=change-meVIKUNJA_SERVICE_PUBLICURL=
VIKUNJA_DATABASE_HOST=db
VIKUNJA_DATABASE_PASSWORD=changeme
VIKUNJA_DATABASE_TYPE=postgres
VIKUNJA_DATABASE_USER=vikunja
VIKUNJA_DATABASE_DATABASE=vikunja
VIKUNJA_SERVICE_SECRET=<a super secure random secret>