# You can find documentation for all the supported env variables at https://docs.immich.app/install/environment-variables

# The location where your uploaded files are stored
UPLOAD_LOCATION=/mnt/immich

# The location where your database files are stored. Network shares are not supported for the database
DB_DATA_LOCATION=./data/postgres

# The Immich version to use
IMMICH_VERSION=v3

# Machine learning runs on openbench (RTX 2060 SUPER, CUDA) as a standalone container
IMMICH_MACHINE_LEARNING_URL=http://192.168.1.199:3003

# Set to your timezone
TZ=US/Central

# Connection secret for postgres. Use a random password here.
DB_PASSWORD=change-me

# The values below this line do not need to be changed
###################################################################################
DB_USERNAME=postgres
DB_DATABASE_NAME=immich